.header {
  background-color: #2ce0f8;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  .header__link {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 600;
    transition: all 0.5s ease-in-out;
    &:hover {
      font-size: 1.6em;
      color: #cfcfcfda;
    }
  }
}